.hover {
  min-height: 65vh;
  margin: 50px auto;
  width: 90%;
  display: block;
}
.hover-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  @media (max-width: 800px) {
    .hover {
      flex-direction: column;
      padding-right: 50px;
    }
}