.about {
    min-height: 75vh;
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    
}

.about-left {
    flex-basis: 40%;
    padding: 10px;
}

.about-right {
    font-size: 20px;
    flex-basis: 65%;
    padding: 10px;
}

.about-image {
    width: 350px;
    border-radius: 20px;

}

.about-image:hover {
    transform: scale(1.1);
}

/* ----- Media query -----*/

@media (max-width: 800px) {
    .about{
        flex-direction: column;
        padding: 10px;
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-right{
        font-size: 18px;
        padding-bottom: 30px;
    }
    .about-image{
        width: 100%;
    }
}