.aboutHome {
    height: auto;
    padding: 0;
  }
  .aboutHome #heading {
    text-align: left;
    padding: 0;
  }
  .aboutHome .left img {
    width: 600px;
    height: 100%;
    object-fit: cover;
  }
.aboutHome .right {
    padding: 10px 10px;
    width: 60%;
  }

  .flexSB {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aboutHome .items {
    margin-top: 50px;
  }
  .aboutHome .item {
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
    transition: 0.5s;
  }
  .aboutHome img {
    width: 80px;
    height: 80px;
  }
  .aboutHome .item h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .aboutHome .item p {
    color: black;
    font-size: 1.7rem;
  }
  .aboutHome .item:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  }
  .aboutHome .item:hover p {
    color: #fff;
  }
  .margin-back{
   margin-bottom: 50%;
  }
  /*----------awrapper------------*/
  .awrapper {
    background-image:linear-gradient(90deg, rgba(103,108,113,0.6237088585434174) 0%, rgba(10,21,33,0.8057816876750701) 100%), url("../../assets/tech1.png");

    background-size: cover;  
    background-position: center;
    height: 30vh;
    color: #fff;
  }
  .awrapper .box {
    padding: 70px 0;
  }
  .awrapper img {
    margin-right: 30px;
  }
  .awrapper h1 {
    font-size: 50px;
  }
  .awrapper h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .text h1,
  .text h3 {
    margin: 0;
    padding: 0;
   }

  .container {
    padding-left: 0%;
    padding-right: 0%;
  }
  /*----------awrapper------------*/
  @media screen and (max-width: 768px) {
    .aboutHome .container {
      
      flex-direction: column-reverse;
      padding: 1px 1px;
    }
    .aboutHome .right {
      padding: 1px 1px;
      width: 100%;
    }
    .aboutHome img {
      padding: 3px;
    }
    .aboutHome .item h2 {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .aboutHome .left img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .aboutHome .row {
      width: 100%;
    }
    .awrapper .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0px;
    }
    .awrapper {
      height: 40vh;
    }
    .awrapper .box {
      padding: 15% 10%;
      padding-left: 20%;
    }
    .awrapper img {
      height: 30px;
      margin-right: 5px;
    }
    .awrapper h1 {
      font-size: 10px;
    }
    .awrapper h3 {
      font-size: 10px;
      font-weight: 200;
    }
    .aboutHome .item p {
      font-size: 1rem;
    }
  }