.lessons{
    margin: 80px auto;
    width:90%;
    text-align: center;
}

.lesson {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.lesson img {
    width: 20%;
    border-radius: 10px;
}