.cases {
    min-height: 50vh;
    margin: 120px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.case img {
    display: block;
    width: 400px;
    border-radius: 10px;
}

.cese {
    flex-basis: 31%;
}

.case:hover {
    transform: scale(1.1);
}

/* ----- Media query -----*/

@media (max-width: 1000px) {
    .cases{
        flex-direction: column;
        margin: 25px auto;
    }
    .case{
        flex-basis: 100%;
        padding: 20px;
    }
    .case img{
        width: 100%;
    }
}